<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="CPUMHZ" value="2392"/>
    <add key="ApplicationFullPath" value=""/>
    <add key="ConnectionString_SQLServer" value=""/>
    <add key="ConnectionString_Access" value=""/>
    <add key="ThreatTemplateXMLFile" value=""/>
    <add key="AutoRun" value="0"/>
    <add key="UAVClientNumber" value="1"/>
    <add key="DockLeftPortion" value="0.22"/>
    <add key="DockRightPortion" value="0.2"/>
    <add key="DockTopPortion" value="0.2"/>
    <add key="DockBottomPortion" value="0.21"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
